<section class="pb-5 pt-5">
  <div class="container">
    <h1 class="text-white text-center mb-5">Upcoming Events</h1>
    <div class="row justify-content-center align-items-start">
      <div class="col-md-5 text-white mb-4 mt-lg-5">
        <div id="events-list"></div>
      </div>
      <div class="col-md-7 d-flex justify-content-center">
        <iframe
          src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=America%2FChicago&showPrint=0&showTz=0&src=c2t1dGVja2FkamVpbHFuQGdtYWlsLmNvbQ&color=%23039be5&hl=en"
          class="rounded-4 mb-5 d-flex justify-content-center" style="border:solid 1px #777" width="90%" height="400"
          frameborder="0" scrolling="no"></iframe>
      </div>
    </div>

  </div>
  </div>
  <script src="{{'/js/event.js' | relative_url}}"></script>
</section>